<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heta.repo.MessageRepository">

    <resultMap id="messageResultMap" type="Message">
        <id column="id" property="id"/>
        <result column="sender_id" property="senderId"/>
        <result column="sender_name" property="senderName"/>
        <result column="receiver_id" property="receiverId"/>
        <result column="content" property="content"/>
        <result column="timestamp" property="timestamp"/>
        <result column="sender_avatar_path" property="senderAvatarPath"/>
    </resultMap>

    <!-- 插入消息记录 -->
    <insert id="insertMessage" parameterType="Message">
        insert into messages (sender_id, sender_name, receiver_id, content, sender_avatar_path)
        values (#{senderId}, #{senderName}, #{receiverId}, #{content}, #{senderAvatarPath})
    </insert>

    <!-- 查询历史记录 -->
    <select id="getMessagesByReceiverId" resultMap="messageResultMap">
        select *
        from messages
        where receiver_id = #{receiverId}
        orderby timestamp
            LIMIT #{offset}, #{limit}
    </select>

    <!-- 这是另一种方法，可以不用resultMap就完成数据库变量名和java变量名的映射 -->
    <select id="getAllMessage" resultType="Message">
        select id,
               sender_id as senderId,
               sender_name as senderName,
               receiver_id as receiverId,
               content,
               timestamp,
                sender_avatar_path as senderAvatarPath
        from messages
        order by timestamp desc
            LIMIT #{offset}, #{limit}
    </select>
</mapper>